<div class="container" id="admin">
  <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
      <table class="table table-striped">
        <thead class="thead-default">
          <tr>
            <th>Merit Badge</th>
            <th>Required</th>
            <th># Complete</th>
            <th>% Complete</th>
          </tr>
        </thead>
        <tbody>
          <% @badges.each do |badge| %>
          <tr>
            <td><%= badge.name %></td>
            <% if badge.required %>
            <td>required</td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= badge.users.count %></td>
            <td><%= (badge.users.count / @user_count) * 100 %>%</td>
          </tr>
          <% end %>
        </tbody>

        </tr>
      </table>
    </div>
  </div>
</div>
